/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background: #000; 
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    width: 90%;
    max-width:700px;
    background: #111;
    padding: 25px 30px;
    border-radius: 20px;
    box-shadow: 0 4px 20px rgba(255,255,255,0.07);
}

/* Profile Section */
.profile{
    width: 160px;
    height: 160px;
    border-radius: 50%;   
    object-fit: cover;  
}

.profile-row {
    display: flex;
    align-items: center; 
    gap: 20px;
    margin-bottom: 20px;
}
.profile-row p{
    margin-left: -195px;
    margin-top: 70px;
    color: #aaa;
    font-size: 14px;
    border-top: 3px solid #333;
}
.name {
    font-size: 32px;
    font-weight: 700;
    color: #fff;
}

/*card section */
.info h3 {
    margin-bottom: 15px;
    font-weight: 600;
    color: #e1e1e1;
}

.info p {
    margin-left: 20px;
    margin-top: -20px;
    font-size: 16px;
    font-size: 16px;
    color: #e1e1e1;
    padding: 10px 0;
}

.info ul {
    margin-left: 40px;
    margin-top: -15px;
    font-size: 16px;
    color: #e1e1e1;
    padding: 10px 0;
}

.image1 {
    padding: 10px;
    width: 240px;
    height: 380px;
    border-radius: 30px;
}

.image2{
    padding: 10px;
    width: 260px;
    height: 380px;
    border-radius: 30px;
}

.image3 {
    padding: 10px;
    width: 300px;
    height: 320px;
    border-radius: 30px;
}
.image4 {
    padding: 10px;
    width: 260px;
    height: 380px;
    border-radius: 30px;

}

.imgae5 {
    padding: 10px;
    width: 300px;
    height: 380px;
    border-radius: 30px;
}
.image6{
    padding: 10px;
    width: 300px;
    height: 470px;
    border-radius: 30px;
}

.image7{
    padding: 10px;
    width: 320px;
    height: 470px;
    border-radius: 30px;
}

.gallery {
    display: flex;
    flex-wrap: wrap; 
    gap: 20px; 
    max-width: 900px; 
    margin: 0 auto;
}
