
body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff; 
    color: #333; 
    margin: 0;
    padding: 0;
    justify-content: center;
    display: flex;
}

h1 {
    color: #004080; 
    margin-bottom: 20px;
    text-align: center;
    justify-content: center;
    display: flex;
}


.profile {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: center;
}

h2 {
    color: #004080;
    margin-top: 20px;
}


p {
    font-size: 15px;
    line-height: 1.5;
}
