* {
  box-sizing: border-box;
}

body {
  font-family: "Lucida Sans", sans-serif;
  font-size: 17px;
  background: #0d1b2a;     /* midnight background */
  color: #e0e1dd;          /* soft off-white text */
  margin: 0;
  padding: 20px;
}

.grid-container {
  display: grid;
  grid-template-areas:
    'header'
    'menu'
    'main'
    'facts'
    'footer';
  gap: 10px;
  background-color: #1b263b;   /* deep navy panel */
  padding: 10px;
  border-radius: 10px;
}


.header {
  grid-area: header;
  background-color: #415a77;   /* slate blue */
  text-align: center;
  color: white;
  padding: 15px;
  border-radius: 10px;
}

.header h1 {
  margin: 0;
  font-size: 32px;
}

/* MENU */
.menu {
  grid-area: menu;
}

.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  padding: 10px;
  margin-bottom: 7px;
  background-color: #415a77;   /* slate blue */
  color: white;
  border-radius: 6px;
  transition: 0.3s ease;
}

.menu li:hover {
  background-color: #778da9;   /* lighter blue hover */
}


.content {
  grid-area: main;
  padding: 10px;
  background-color: #1b263b;   /* same as container for unity */
  border-radius: 10px;
}

.content p {
  margin-top: 10px;
}

.facts {
  grid-area: facts;
  background-color: #1b263b;      /* uniform dark card */
  border: 1px solid #415a77;      /* subtle border */
  padding: 15px;
  border-radius: 10px;
}

.facts h2 {
  margin-top: 0;
}

.footer {
  grid-area: footer;
  background-color: #415a77;      /* footer matches header */
  padding: 12px;
  text-align: center;
  color: white;
  border-radius: 10px;
}

.profile{
    width: 500px;
    height: 500px;
    object-fit: cover;
    border-radius: 15px;
    margin-top: 10px;
}


@media (min-width: 600px) {
  .header {grid-area: header;}
  .menu {grid-area: menu;}
  .content {grid-area: main;}
  .facts {grid-area: facts;}
  .footer {grid-area: footer;}
}

@media (min-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas:
      'header header header'
      'menu main facts'
      'footer footer footer';
  }
}
